/*--- FONTS immer am ANFANG ---*/

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway Regular'), /* Diese Zeile wurde jeweils nicht autmatisch ausgefüllt. Hab ichdann bei Ruben abgeschrieben*/
       url('../fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/raleway-v22-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway Regular'),
       url('../fonts/raleway-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/raleway-v22-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway Italic'),
       url('../fonts/raleway-v22-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/raleway-v22-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway Italic'),
       url('../fonts/raleway-v22-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato'), local('Lato Regular'),
       url('../fonts/lato-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v20-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/lato-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato'), local('Lato Italic'),
       url('../fonts/lato-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v20-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lato-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato'), local('Lato Regular'),
       url('../fonts/lato-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('.../fonts/lato-v20-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/lato-v20-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato'), local('Lato Italic'),
       url('../fonts/lato-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v20-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/*--- FONTS ENDE ---*/


/* === GLOBAL === Einstellungen für alle Seiten */

/* === FARBEN als Referenzen === */

:root {
  --weiss: #FFF;
  --blau: #1F4E8C;
  --dunkel-grau: #3d3f45;
  --hell-grau: #F0F0F0;
  --rot: #a62c21;
  --primaere-schriftart: Raleway;
  --sekundaere-schriftart: Lato;
  --tertiaere-schriftart: "Helvetica Neue";
  --quartaere-schriftart: Arial;
  --fallback-schriftart: sans-serif;
  --border-style: 2px solid;
  --border-transition: border .3s ease-in-out;
}

/* ===ENDE FARBEN als Referenzen === */

html {
  font-size: 16px;
}


body {
  margin: 0; /* Sonst hat man automatisch margin 8 da stehen*/
  font-family: var(--primaere-schriftart, --sekundaere-schriftart, --tertiaere-schriftart, --quartaere-schriftart, --fallback-schriftart);
  /* font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif; */
}

* { /* Sternchen wählt alle Elemente aus. */
  box-sizing: border-box; /* Hiermit werden die Aussenmasse der Elemente eingehalten */
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Media Queries für section Responsiveness: */

@media (max-width: 1366px) {

  section {
    padding-top: 2rem;
    padding-bottom: 2 rem;
  }

}

@media (max-width: 1024px) {

  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}

@media (max-width: 768px) {

  section {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

}

/* box-shadows: x-versatz y-versatz Weichzeichnung Vergrößerung Farbe (inset) */
/* :focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--hell-grau), 0 0 2px var(--hell-grau);
} */

/* === GENERELLES === Einstellungen die nicht auf alle Seiten zutreffen aber von allen genutzt werden können */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.wichtiger-text {
  font-weight: bold;
}

.screenreader {
  display: none;
}

.intro-container {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}‚

.intro-container > h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.intro-container > p {
  font-size: 1.2rem;
}

/* Das Navi-Element der aktiven Seite soll rot hinterlegt werden: */

.active {
  background-color: var(--rot) !important;
}


/* Hier Media-queries für den Intro-Bereich */

@media (max-width: 1366px) {

  .intro-container {
    width: 90%;
    }
    .intro-container > p {
      margin-bottom: .5rem;
    }

}

@media (max-width: 1024px) {

  .intro-container {
    width: 100%;
    }
    .intro-container > p {
      margin-bottom: 0;
    }

}

@media (max-width: 768px) {

  .intro-container > p {
    margin-bottom: 0;
  }

}

/* === BUTTONS ===*/

.btn-typ-1 {
  background-color: var(--rot);
  border: var(--border-style) var(--rot);
  color: var(--weiss);
  padding: .4rem .6rem;
  transition: var(--border-transition);
}

.btn-typ-1:hover {
  border: var(--border-style) var(--weiss);
}

.btn-typ-2 {
  background-color: transparent;
  border: var(--border-style) var(--weiss);
  color: var(--weiss);
  padding: .4rem .6rem;
  transition: color .3s ease-in-out, var(--border-transition);
}

.btn-typ-2:hover {
  border: var(--border-style) var(--rot);
  color: var(--rot);
}

.btn-typ-3 {
  background-color: transparent;
  border: var(--border-style) var(--dunkel-grau);
  color: var(--dunkel-grau);
  font-size: 1rem;
  transition: var(--border-transition);
}

.btn-typ-3:hover {
  border: var(--border-style) var(--rot);
}


/* === ANFANG NAVIGATIONSLEISTE INSGESAMT === */

/* == ANFANG GROSSE NAVIGATIONSLEISTE == */

/* Dunkelgraue Navi-Leiste */

#header-nav {
  width: 100%;
  height: 50px;
  background-color: var(--dunkel-grau);
  position: relative;
  font-size: 1.1rem;
}

/* Anker Element um Logo */

.logo-link {
  display: inline-block;
}
/* Grösse und Positionierung Logo links*/

#header-nav a > img {
  height: 30px;
  width: auto;
  margin-top: 0.5rem;
  float: left;
}

/* margin und padding  beim ul-Element weg und Positionierung rechts mittig*/

#header-nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
}

/* Listenpunkte horizontal */

#header-nav ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 .4rem 0 .4rem;
}

/* Das sind die Anker-Elemente */

#header-nav ul > li > a {
  display: inline-block;
  margin-top: .8rem;
}

/* Styling der Linkstadien */

#header-nav ul > li > a:link{
  color: var(--weiss);
  text-decoration: none;
}

#header-nav ul > li > a:visited{
  color: var(--weiss);
  text-decoration: none;
}

#header-nav ul > li > a:hover{
  color: var(--hell-grau);
  text-decoration: none;
}

#header-nav ul > li > a:active{
  color: var(--hell-grau);
  text-decoration: none;
}

#header-nav .container {
  height: 100%;
}

#header-nav .row {
  height: 100%;
}

#header-nav .col-6 { /* Hier lösche ich das padding der Navi col-6 */
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}


/* == ENDE GROSSE NAVIGATIONSLEISTE == */

/* == ANFANG MOBILE NAVIGATIONSLEISTE == */

#mobile-nav-dropdown {
  position: relative;
  float: right;
}

#mobile-nav-content {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
}

#mobile-nav-button {
  color: var(--weiss);
  float: right;
  font-size: 2rem;
  border: solid;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: .4rem;
  margin-bottom: .5rem;
}

#mobile-nav-button > span {
  position: absolute;
  bottom: -2.5px;
  left: 7px;
}

#mobile-nav-content > ul > li {
  display: block;
  background-color: var(--dunkel-grau);
  height: 50px;
  padding: 0 1.2rem;
  text-align: center;
}

#mobile-nav-dropdown:hover > #mobile-nav-content {
  display: block;
}


/* === ENDE NAVIGATIONSLEISTE INSGESAMT=== */

/* === ANFANG GROSSES HEADER-BANNER === */

#header-banner {
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background: url("../img/hintergrund.jpg") no-repeat;
  background-size: contain;
}

/* === ENDE GROSSES HEADER-BANNER === */

/* === ANFANG KLEINES HEADER-BANNER === */

#header-banner-klein {
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  background: url("../img/hintergrund-klein.jpg") no-repeat;
  background-size: contain;
}

/* === ENDE KLEINES HEADER-BANNER === */


/* === ANFANG NEWSLETTER-BEREICH === */

#newsletter-bereich {
  width: 100%;
  background-color: var(--dunkel-grau);
  padding-top: 0;
  padding-bottom: 0;
}

#nb-werbetext {
  color: var(--weiss);
  font-size: 1.2 rem;
}

#nb-form {
  width: 100%;
  margin-top: .5rem;
  float: right;
  text-align: right;
}

#nb-email-input {
  width: 78%;
  height: 35px;
  border: var(--border-style) var(--weiss);
  padding: .4rem;
}


#nb-btn {
  height: 35px;
}

/* Media Queries für Newsletter Bereich */

@media (max-width: 1832px) {

  #nb-email-input {
    width: 70%;
  }

}

@media (max-width: 1366px) {

  #nb-email-input {
    width: 100%;
    margin-bottom: .5rem;
  }

  #nb-btn {
    width: 100%
  }

}

@media (max-width: 768px) {

  #nb-werbetext {
    display: none;
  }

  #nb-form {
    margin-top: 0px;
  }

  #newsletter-bereich .col-4 {
    display: none;
  }

}

@media (max-width: 480px) {

  #nb-email-input {
    height: 25px;
  }

  #nb-btn {
    height: 25px;
    padding: .1rem ;
  }

}

/* === ENDE NEWSLETTER-BEREICH === */

/* === ANFANG ANIMIERTES LOGO === */

#animiertes-logo {
  height: 150px;
  width: 150px;
  background-color: var(--dunkel-grau);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 25px;
}

#animiertes-logo img {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  /* animation: animationDrehung;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  -webkit-animation: animationDrehung 5s ease-in-out infinite alternate;
          animation: animationDrehung 5s ease-in-out infinite alternate;
}

@-webkit-keyframes animationDrehung {

  0%    { transform: rotateZ(0deg);
        }
  11.111%   { transform: rotateZ(0deg);
        }
  22.222%   { transform: rotateZ(90deg);
        }
  33.333%   { transform: rotateZ(90deg);
        }
  44.444%   { transform: rotateZ(180deg);
        }
  55.555%   { transform: rotateZ(180deg);
        }
  66.666%   { transform: rotateZ(270deg);
        }
  77.777%   { transform: rotateZ(270deg);
        }
  88.888%  {  transform: rotateZ(360deg);
        }
  100%  {  transform: rotateZ(360deg);
  }
}

@keyframes animationDrehung {

  0%    { transform: rotateZ(0deg);
        }
  11.111%   { transform: rotateZ(0deg);
        }
  22.222%   { transform: rotateZ(90deg);
        }
  33.333%   { transform: rotateZ(90deg);
        }
  44.444%   { transform: rotateZ(180deg);
        }
  55.555%   { transform: rotateZ(180deg);
        }
  66.666%   { transform: rotateZ(270deg);
        }
  77.777%   { transform: rotateZ(270deg);
        }
  88.888%  {  transform: rotateZ(360deg);
        }
  100%  {  transform: rotateZ(360deg);
  }
}

@media (max-width: 768px) {
  #animiertes-logo {
    display: none
  }

}

/* === ENDE ANIMIERTES LOGO === */

/* === ANFANG LEISTUNGS-BEREICH === */

#leistungen-bereich {
  padding-top: 1rem;
}

#leistung1 {
  padding-top: 1.4rem;
}

.leistungs-teaser-box {
background-color: var(--dunkel-grau);
text-align: center;
color: var(--weiss);
padding: 1rem 3rem 2.5rem;
width: 60%;
margin-right: auto;
margin-left: auto;
margin-bottom: 1.6rem;
}

.leistungs-teaser-box > h2 {
  font-size: 1.4rem;
}

#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
  margin-left: 1rem;
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
  margin-right: 1rem;
}

.leistung-ansehen-btn {
  text-decoration: none;
  height: 40px;
  display: inline-block;
  padding-top: .5rem;
  width: 40%;
  min-width: 100px;
  margin-top: 1rem;
}

.leistung-ansehen-btn:link {
  color: var(--weiss);
}

.leistung-ansehen-btn:visited {
  color: var(--weiss);
}

.leistung-ansehen-btn:active {
  color: var(--weiss);
}

.leistung-ansehen-btn:hover {
  color: var(--rot);
  border: var(--border-style) var(--rot);
}

/* Media Queris für die Leistungs-Boxen im Leistungsbereich: */

@media (max-width: 1366px) {

  .leistungs-teaser-box {
    width: 75%;
  }

}

@media (max-width: 1024px) {

  .leistungs-teaser-box {
    width: 90%;
    margin-bottom: 1rem;
  }

    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
      margin-left: 0.5rem;
    }

    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
      margin-right: 0.5rem;
    }

}

@media (max-width: 768px) {

  .intro-container {
    margin-bottom: 1rem;
  }

  .leistungs-teaser-box {
    width: 100%;
    margin-bottom: 1rem;
  }

  #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
    margin-left: 0;
    margin-right: 0;
  }

  #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box  {
    margin-right: 0;
    margin-left: 0;
  }

}

@media  (max-width: 480px) {
  .leistungs-teaser-box {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

}

/* === ENDE LEISTUNGS-BEREICH === */

/* === ABFANG VIDEO-BEREICH === */

#video-bereich {
  background-color: var(--dunkel-grau);
  color: var(--weiss);
}

#video-bereich video {
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 1440px) {

  #video-bereich video {
    width: 45%;
  }

}

@media (max-width: 1024px) {

  #video-bereich video {
    width: 60%;
  }

}

@media (max-width: 768px) {

  #video-bereich video {
    width: 75%;
  }

}

@media (max-width: 480px) {

  #video-bereich video {
    width: 100%;
  }

}
/* === ENDE VIDEO-BEREICH === */

/* === ANFANG SERVICE-BEREICH === */
#service-bereich {
  background-color: var(--hell-grau)
  ;
}

.service-box {
  text-align: center;
  width: 80%;
}

.service-box h1{
font-size: 1.4rem;
}


#service-bereich .row:nth-child(2) > div:nth-child(1) > .service-box {
  margin-right: 0;
  margin-left: auto;
}

#service-bereich .row:nth-child(2) > div:nth-child(2) > .service-box {
  margin-right: auto;
  margin-left: auto;
}

.service-icon {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  transition: transform 1s;
}

.service-icon:hover {
  transform: rotateZ(360deg);
}

#günstig-icon {
  background: var(--dunkel-grau) url("./../img/services-sprite.png") 0 0;
}

#schnell-icon {
  background: var(--dunkel-grau) url("./../img/services-sprite.png") -120px 0;

}

#modern-icon {
  background: var(--dunkel-grau) url("./../img/services-sprite.png") -240px 0;
}

@media (max-width: 768px) {

  #service-bereich .row:nth-child(2) > div:nth-child(odd) > .service-box {
    margin-right: auto;
    margin-left: auto;
  }

}

@media (max-width: 480px) {

  .service-box {
    width: 100%;
  }

}

/* === ENDE SERVICE-BEREICH === */

/* === ANFANG ÜBER-UNS-BEREICH === */

  #über-uns-bereich {
    background-color: var(--weiss);
  }

  #über-uns-container {
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

#über-uns-container > img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 40px;
}

#über-uns-container > p {
  width: 75%;
  font-size: 1.2rem;
  margin-top: 0;
}

@media (max-width: 1440px) {

  #über-uns-container > img {
    right: 20px;
  }

}

@media (max-width: 1366px) {

  #über-uns-container > img {
    right: 10px;
  }
  #über-uns-container > p {
    width: 73%;
  }

}


@media (max-width: 1280px) {

  #über-uns-container > img {
    right: 0;
  }
  #über-uns-container > p {
    width: 70%;
  }

}

@media (max-width: 1140px) {

  #über-uns-container > p {
    width: 60%;
  }

}

@media (max-width: 1024px) {

  #über-uns-container > img {
    display: none;
  }

  #über-uns-container > p {
    width: 100%;
  }

}

/* === ANFANG ÜBER-UNS-BEREICH === */

/* === ANFANG FOOTER-BEREICH === */

#footer {
  background-color: var(--dunkel-grau);
  height: 2.8rem;
  color: var(--weiss);
  bottom: 0px;
}

#footer-nav {
  float: right;
}

#footer-nav a {
  text-decoration: none;
  color: var(--weiss);
}

#footer-nav a:link{
  color: var(--weiss);
}

#footer-na a:visited{
  color: var(--weiss);
}

#footer-nav a:hover{
  color: var(--hell-grau)
}

#footer-nav a:active{
  color: var(--weiss);
}

@media (max-width: 540px) {

  #footer span {
    display: none;
  }

  #footer-nav {
    float: none;
    width: 100%;
    text-align: center;
  }

}

/* === ENDE FOOTER-BEREICH === */

/* === ANFANG LEISTUNGS-SEITE === */

.leistung {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.leistung:nth-of-type(even) {
  background-color: var(--hell-grau);
}

.flex-container {
display: flex;
width: 80%;
margin-left: auto;
margin-right: auto;
justify-content: space-around;
align-items: center;
}

.flex-container > .intro-container {
  width: 100%;
}

/* Hier Media-queries für den Intro-Bereich Flex-Box auf der Leistungs-Seite */

@media (max-width: 1366px) {

  .flex-container {
    width: 90%;
   }

  .flex-container > p {
    margin-bottom: .5rem;
  }

  .leistung {
    padding-top: 2rem;
  }

}

@media (max-width: 1024px) {

  .flex-container {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
  }

}

@media (max-width: 768px) {

  .flex-container > p {
    margin-bottom: 0;
  }

}

.leistungs-box {
  display: flex;
  background-color: var(--dunkel-grau);
  flex-basis: 25%;
  color: var(--weiss);
  padding: 2rem 4rem;
  text-align: center;
  min-height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.leistungs-box-empfohlen {
  flex-basis: 27.5%;
  min-height: 700px;
  box-shadow: 0 0 20px 0 var(--dunkel-grau);
  font-size: 1.05rem;
}

/* Hier Media-queries für die Leistungs-Boxen Flex-Box auf der Leistungs-Seite */

@media (max-width: 1763px) {

  .leistungs-box {
    flex-basis: 29%;
  }

  .leistungs-box-empfohlen {
    flex-basis: 31.5%;
  }

}

@media (max-width: 1523px) {

  .leistungs-box {
    flex-basis: 30%;
    padding: 1rem 2rem;
  }

}

@media (max-width: 1470px) {

  .leistungs-box {
    flex-basis: 30%;
    padding: .5rem 1rem;
  }

  .leistungs-box-empfohlen {
    min-height: 660px;
  }

}

@media (max-width: 993px) {

  .flex-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

  }
    .leistungs-box {
      margin-bottom: 2rem;
      min-height: initial;
      padding: 2rem 4rem;
  }
    .leistung-auswählen-btn {
      min-width: 170px;
  }

}

@media (max-width: 574px) {

  .flex-container {
    width: 90%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .leistungs-box {
    padding: 1rem 2rem;
  }

}

@media (max-width: 347px) {

  .flex-container {
    width: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .leistungs-box {
    padding: .5rem 1rem;
  }

}

.leistungs-box ul {
  padding: 0;
}

.leistungs-box h1 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.leistungs-box p {
  /* margin-top: 0; */
}

.leistungs-box ul > li {
  list-style-position: inside;
  margin-bottom: .5rem;
}

.leistung-auswählen-btn {
  width: 50%;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  min-width: 170px;
}

.leistung-auswählen-btn:hover {
  font-weight: normal;
}

/* === ENDE LEISTUNGS-SEITE === */

/* === ANFANG KONTAKT-SEITE === */

#kontakt-bereich {
  padding-top: 1rem;
}

#kontakt-formular input,
#kontakt-formular textarea {
  width: 100%;
  border: var(--border-style) var(--dunkel-grau);
  padding: .5rem;
  font-size: 1rem;
  font-family: var(--primaere-schriftart, --sekundaere-schriftart, --tertiaere-schriftart, --quartaere-schriftart, --fallback-schriftart);
  color: var(--dunkel-grau);
  transition: var(--border-transition);
}

#kontakt-formular textarea {
  height: 100px;
}

#kontakt-formular {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

#absendenButton {
  width: 150px;
  height: 39px;
}

#kontakt-formular input:hover,
#kontakt-formular textarea:hover {
  border: var(--border-style) var(--rot);
}

/* Hier Media-queries für den Kontakt-Bereich auf Kontakt-Seite */

@media (max-width: 1366px) {

  #kontakt-formular {
    width: 90%;
  }

}

@media (max-width: 1024px) {

  #kontakt-formular {
    width: 100%;
  }

}

@media (max-width: 768px) {

  #kontakt-formular button{
    width: 100%;
  }

}
/* === ENDE KONTAKT-SEITE === */

/* === ANFANG IMPRESSUM-SEITE === */

#impressum {
  padding-top: 1rem;
}

#impressum a {
  color: var(--dunkel-grau);
  text-decoration: none;
  font-weight: bold;
}

/* === ENDE IMPRESSUM-SEITE === */


/*

 === ANFANG GRID-SYSTEM SICHTBARKEIT wird später wieder gelöscht ===

.border * { /* Selektor für alle Elemente für Border
  border: 1px solid #91c4ff;
}

[class*="col-"] { /* Selektor für alle Columns für Zellhigru
  background-color: #bfddff;
}

p { /* Inhalt aller p's soll sich ausbreiten und wieder dunkleres Blau
  background-color: #91c4ff;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
}

 */


/* === ENDE GRID-SYSTEM SICHTBARKEIT wird später wieder gelöscht=== */



/* === ANFANG GRID-SYSTEM === */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* Das ist der Clearfix-Hack: */

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* Das sind Höhe und Breite für die Columns: */

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: .8rem;
/*  height: 100px;
  background-color: grey; Sichtkontrolle */
}

.col-1 { width: 16.666%; }
.col-2 { width: 33.333%; }
.col-3 { width: 50%;     }
.col-4 { width: 66.666%; }
.col-6 { width: 100%;    }


/* === ANFANG MEDIA QUERIES RESPONSIVE === */

@media (max-width: 1024px) { /* Die Regeln gelten bis zu dieser Breite und danach nicht mehr! Ab hier wieder normales Design */

  .col-1 { width: 33.333%; }

}

@media (max-width: 768px) { /* Die Regeln gelten bis zu dieser Breite und danach nicht mehr! Ab hier wieder nächst breiteres Design */

  .col-1 { width: 50%;  }
  .col-2 { width: 100%; }
  .col-3 { width: 100%; }
  .col-4 { width: 100%; }
}

@media (max-width: 480px) { /* Die Regeln gelten bis zu dieser Breite und danach nicht mehr! Ab hier wieder nächst breiteres Design */

  .col-1 { width: 100%;  }
  .col-2 { width: 100%; }
  .col-3 { width: 100%; }
  .col-4 { width: 100%; }
}

#mobile-nav {
  display: none;
}

@media (max-width: 768px) {/* Ändern der Navi-Leisten Gross und Klein */

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

}
